* {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
  }
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  header h1 {
    font-size: 5 rem;
    color: #e12e2e;
  }
  h1
  {
    background-color: aqua;
  }
  
  header p {
    font-size: 4.5 rem;
    color: #23cf37;
  }
  p{
    background-color: rgb(227, 137, 20);
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .menu-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .menu-item h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .menu-item .price {
    font-size: 1.5rem;
    color: #008CBA;
    margin-bottom: 15px;
  }
  
  .menu-item button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-item button:hover {
    background-color: #005f73;
  }
  footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    color: #777;
  }
  